@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Poppins:wght@100;300;400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Laila", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-image:url(img/img_central.png) ;
}

label{
    color: white;
    text-align: justify;
}
input{
   
    height: 25px;
}
#link_form{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logo{
    width: auto;
    height: 100px;
}
#links{
    margin-right: 100px;
}
#link_form:hover {
    color: black;
    box-shadow: 0 0 100px #0000;
    transition: 0.5s;
}
form{
    margin-top: 10%;
}

